/*公共样式*/

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #333;
    background: url("../../images/body-background.png") no-repeat left center;
    background-size: 100% 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input,
textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}


/* 导航样式 */

header {
    height: 3.86rem;
    width: 100%;
    position: relative;
}

header .logo {
    position: absolute;
    left: 0.66rem;
    top: 0.82rem;
    width: 2.5rem;
    height: 0.6rem;
}

header .logo img {
    height: 100%;
    width: 100%;
}


/* 导航 */

header nav {
    float: right;
    margin-top: 0.8rem;
    margin-right: 0.8rem;
}

header nav ul li {
    height: 0.64rem;
    width: auto;
    float: left;
    margin-left: 0.35rem;
    letter-spacing: 0.02rem;
}

header nav ul li a {
    font-size: 0.22rem;
    color: #fdfffe;
}

header nav ul li a:hover {
    text-decoration: none;
}


/* 划过导航时添加下划线 */

header nav ul .line {
    border-bottom: 0.01rem solid #fdfffe;
}


/* 底部样式 */

footer {
    height: 1rem;
    width: 100%;
    line-height: 1rem;
    text-align: center;
    color: #a09f9f;
    font-size: 0.26rem;
}